<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mabbit.test.mapper.TestMapper">
    <insert id="test">
        INSERT INTO test (test, create_time) VALUES (#{arg}, #{time})
    </insert>

    <resultMap id="vo" type="cn.mabbit.test.pojo.vo.TestVO">
        <result column="test" property="test" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="page" resultMap="vo">
        select * from test
    </select>
</mapper>